* 	{box-sizing: border-box;}

#wrap 	{margin: auto;
		width: 90%;
		min-width: 1000px; max-width: 1300px;
		background-color: #555555;}

.pics 	{display: inline;}

img {border: 2px solid black;
	width: 370px;}

body	{background: linear-gradient(to right, black 5%, darkgray 5% 95%, black 95% 100%);
		background-image: url("images/background.webp");
		background-repeat: repeat;
		font-family: fantasy, sans-serif;}

header 	{background-color: #555555;
		padding: 15px;}

header a {text-decoration: none;}
header a:link {color: #ff0033;}
header a:visited {color: #000000;}
header a:hover {color: #ffffff;}

nav {float: left;
	width: 150px;
	font-style: italic;}

main {background-color: #222222;
	color: #ff0033;
	padding: 7px 15px;
	overflow: auto;}

footer {color: #ff0033;
	font-size: 60%;
	text-align: left;
	padding: 8px;
	background-color: #555555;
	overflow: auto;}

h2 {color: #ff0033;}

nav ul {list-style-type: none; margin: 0; padding: 0;}

nav a {text-decoration: none;
	padding: 20px;
	display: block;
	background: linear-gradient(to right, black 60%, darkgray);
	border-bottom: 1px solid #000000;}

nav a:link {color: #ffffff;}
nav a:visited {color: #555555;}
nav a:hover {color: #ff0033;
			background-color: #ffffff;
			font-size: 1.25em;
			font-weight: bold;}